#+SETUPFILE: ~/org/aw-org-html-themes/setup/theme-readtheorg-local.setup
#+OPTIONS: html-style:nil

#+Options: \n:t
#+Title: orgweb


#+HTML_HEAD: <script src="https://unpkg.com/lunr/lunr.js"></script>
#+HTML_HEAD: <link href="search.css" rel="stylesheet" type="text/css">
#+HTML_HEAD: <script src="lunr_index.js"></script>
#+HTML_HEAD: <script src="lunrclient.js"></script>


* Search
Search the Orgweb using Lunr. Enter a search term.

#+BEGIN_EXPORT html
<form id="lunrSearchForm" name="lunrSearchForm">
<input class="search-input" name="q" placeholder="Enter search term" type="text"> <input type="submit" value="Search">
</form>
<div class="loading" id="loading-div">
<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
<span class="sr-only">Loading…</span>
</div>
<p>Search results will be written below:</p>
<div class="resultCount" id="resultCount"></div>
<div id="searchResults"></div>

#+END_EXPORT

* Sitemap
This is the sitemap of Orgweb.

